{{#if isShowing}}
  <div class="auth overlay">
    <div class="rect clearfix">
      {{dynamic-component
          type=modal
          model=model
          modalAction='modalAction'
          close='close'
      }}
    </div>
  </div>
{{/if}}
