<div class="content">
  <div class="dashboard">
    <form class="auth-form">
      {{textarea autofocus="autofocus" value=model.body classNames='auth-input'}}
      <div class="form-footer clearfix">
        <button {{action 'modalAction'}} class="blue-btn submit">
          Save
        </button>
        <div class="alternatives">
          <a {{action 'close'}} href="#" class="blue-link">Cancel</a>
        </div>
      </div>
    </form>
      {{date-picker value=model.createdAt classNames='auth-input'}}
  </div>
</div>

