<div class="nav-bar clearfix">
  <div class="third">
    <div class="home relative-center-y">
      <img class="icon" src="images/icon-home.png"/>
      {{#link-to 'dash' classNames='title dark-gray-link'}}Home{{/link-to}}
    </div>
  </div>

  <div class="third">
    <img class="relative-center-xy" src="images/telegram-logo-small.png"/>
  </div>

  <div class="third">
    <div class="user relative-center-y">
      {{#if userAuthenticated}}
        {{#link-to 'user' userProfile classNames='name dark-gray-link'}}
          <span class="avatar link"><img {{bind-attr src=userProfile.avatar}}></span>
          {{userProfile.name}}
        {{/link-to}}
        <a class="logout dark-gray-link" {{action 'logOut'}}>Log out</a>
      {{/if}}
    </div>
  </div>
</div>
