<div class="navbar">
  <div class="home">
    {{#link-to 'dash'}}Home{{/link-to}}
  </div>
  <div class="user">
    {{#if userAuthenticated}}
      {{#link-to 'user' userProfile}}{{userProfile.name}}{{/link-to}}
    {{/if}}
  </div>
</div>
