<div>{{#link-to 'account.check'}}check{{/link-to}}</div>
<div>{{#link-to 'account.create'}}create{{/link-to}}</div>
<div>{{#link-to 'account.login'}}login{{/link-to}}</div>
<div>{{#link-to 'account.reset'}}reset{{/link-to}}</div>

<div>{{#link-to 'dash'}}dashboard{{/link-to}}</div>
