<div class="account-login">
  <h3>Get going...</h3>
  <div class="login-form">
    <div class="account-input">
      {{input type="text" value=username placeholder='Enter your username...'}}
    </div>
    <div class="account-input">
      {{input type="text" value=password placeholder='Enter your password...'}}
    </div>
    <div class="account-button">
      <button {{action "logIn"}}>Log in</button>
    </div>
    <div>
      {{#link-to 'account.reset'}}Recover password{{/link-to}} or
      {{#link-to 'account.create'}}Sign up{{/link-to}}
    </div>
  </div>
</div>
