<div class="title">
  Get going ...
</div>
<div class="form-error">
  {{errors}}
</div>
<form class="auth-form">
  {{input type="text" value=username placeholder='Enter your username...' classNames='auth-input'}}
  {{input type="password" value=password placeholder='Enter your password...' classNames='auth-input'}}
  <div class="form-footer clearfix">
    <button {{action 'logIn'}} class="blue-btn submit">
      Log in
    </button>
    <div class="alternatives">
      {{#link-to 'account.reset' classNames='blue-link'}}Recover password{{/link-to}}
      or
      {{#link-to 'account.create' classNames='blue-link'}}Sign up{{/link-to}}
    </div>
  </div>
</form>
