<div class="title">
  Reset password
</div>
<div class="form-error">
  {{errors}}
</div>
<form class="auth-form">
  {{input type="text" value=email placeholder='Enter your email...' classNames='auth-input'}}
  <div class="form-footer clearfix">
    <button {{action 'resetPassword'}} class="blue-btn submit">
      Reset password
    </button>
  </div>
</form>
