<h2 class="sign-in-form-header">Reset password</h2>
<div class="form-error">
  {{errors}}
</div>
<form>
  {{input type="text" value=email placeholder='Enter your email...' classNames='username-input'}}

  <div class="call-to-action-options clearfix">
    <button {{action 'resetPassword'}} class="input-button">
      Reset password
    </button>
  </div> <!-- Call to action options -->
</form>
