<h2 class="sign-in-form-header">Reset password</h2>
<form>
  {{input type="text" value=email placeholder='Enter your email...' classNames='username-input'}}

  <div class="call-to-action-options clearfix">
    {{input type="submit" value='Reset password' action='resetPassword'}}
  </div> <!-- Call to action options -->
</form>
