{{#modal-base title="Edit Post" ok='editPost' close='closeModal'}}
  <div class="content">
    <div class="dashboard">
      <form class="auth-form">
        {{textarea autofocus="autofocus" value=model.body classNames='auth-input'}}
        {{date-picker value=model.createdAt classNames='auth-input'}}
      </form>
    </div>
  </div>
{{/modal-base}}
