<div class="sign-in-container clearfix">

  <div class="sign-in-action">

    <div class="postmark-img-container">
      <img src="images/postmark.png">
    </div>

    <div class="sign-in-form">

      <div class="logo-img-container-two">
        <img src="images/telegram-logo.png">
      </div>

      {{outlet}}

    </div> <!-- Sign in form -->

  </div> <!-- Sign in action -->

  <div class="logo">
    <div class="logo-img-container">
      <img src="images/telegram-logo.png">
    </div>
  </div> <!-- Logo -->

</div>
