<div class="main-home"> outside

  <div class="account-box"> inside

    <div class="logo-left">logo</div>

    <div class="action-right">

      <div class="action-icon">icon</div>

      <div class="account-form">
        {{outlet}}
      </div>

    </div>
  </div>
</div>
